<div data-role="header">
  <h1>Teams</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @teams.each do |team| %>
    <li>
      <h2 class="center"><%= team.name %></h2>
      <h2 class="points center"><%= team.points %></h2>
      <%= link_to 'Show', team %>
      <%= link_to 'Edit', edit_team_path(team), "data-icon" => "gear" %>
      <%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %>
    </li>
    <% end %>
  </ul>

  <%#= link_to 'New Team', new_team_path %>
</div>