<div data-role="header">
  <h1>Leads</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @leads.each do |lead| %>
    <li>
        <h2 class="center"><%= lead.name %></h2>
        <p><%= lead.phone %></p>
        <p><%= lead.email %></p>
        <p><%= lead.notes %></p>
        <p>Salesperson: <%= lead.player.name %></p>
      <%= link_to 'Show', lead %>
      <%= link_to 'Edit', edit_lead_path(lead), "data-icon" => "gear" %>
      <%= link_to 'Destroy', lead, :confirm => 'Are you sure?', :method => :delete %>
    </li>
    <% end %>
  </ul>

  <br />
  <%= link_to 'New Lead', new_lead_path %>
</div>