<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lead.name %>
</p>

<%= image_tag @lead.image %>

<p>
  <b>Phone:</b>
  <%= @lead.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @lead.email %>
</p>

<p>
  <b>Notes:</b>
  <%= @lead.notes %>
</p>


<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
