<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :name %>&nbsp;<%= f.text_field :name %></p>
  <p><%= f.label :role %>&nbsp;<%= f.text_field :role %></p>
  <p><%= f.label :team %>&nbsp;<%= f.collection_select(:team_id, Team.all, :id, :name, :include_blank => "Unassigned") %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
