<div data-role="header">
  <h1>Players</h1>
</div>

<div data-role="content" id="teammates" data-theme="b">
  <ul data-role="listview" data-filter="true">
    <% @players.each do |player| %>
        <li>
          <h2><%= player.name %></h2>
          <p><strong><%= player.team.nil? ? "Unassigned" : player.team.name %></strong></p>
          <%= player.role %>&nbsp;
          <%= player.points %>&nbsp;
          <%= link_to 'Edit', edit_player_path(player), "data-icon" => "gear" %>
          <%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %>
        </li>
    <% end %>
  </ul>

  <br />

  <%= link_to 'New Player', new_player_path %>
</div>