<%= form_for(@rule) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :object_type %>&nbsp;<%= f.text_field :object_type %></p>
  <p><%= f.label :rule_type %>&nbsp;<%= f.text_field :rule_type %></p>
  <p><%= f.label :trigger %>&nbsp;<%= f.text_field :trigger %></p>
  <p><%= f.label :threshold %>&nbsp;<%= f.text_field :threshold %></p>
  <p><%= f.label :points %>&nbsp;<%= f.text_field :points %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
