<div data-role="header">
  <h1>Listing rules</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @rules.each do |rule| %>
    <li>
      <%= rule.object_type %>&nbsp;
      <%= rule.rule_type %>&nbsp;
      <%= rule.trigger %>&nbsp;
      <%= rule.threshold %>&nbsp;
      <%= rule.points %>&nbsp;
      <%= link_to 'Show', rule %>
      <%= link_to 'Edit', edit_rule_path(rule), "data-icon" => "gear" %>
      <%= link_to 'Destroy', rule, :confirm => 'Are you sure?', :method => :delete %>
    </li>
    <% end %>
  </ul>

  <%= link_to 'New Rule', new_rule_path %>
</div>

