<div data-role="header">
  <h1>Sales</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @sales.each do |sale| %>
    <li>
      <h2 class="center"><%= sale.product_name %></h2>
      <h2 class="points center"><%= sale.sale_amount_in_cents / 100.0 %></h2>
      <p><%= sale.notes %></p>
      <p>Salesperson: <%= sale.player.name %></p>
      <%= link_to 'Show', sale %>
      <%= link_to 'Edit', edit_sale_path(sale), "data-icon" => "gear" %>
      <%= link_to 'Destroy', sale, :confirm => 'Are you sure?', :method => :delete %>
    </li>
    <% end %>
  </ul>

  <br />
  <%= link_to 'New Sale', new_sale_path %>
</div>